*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}
body{
    background-image: url("./images/tik-tok-fon-1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: blueviolet;
    color: rgb(255, 255, 255);
}
.title{
    min-width: 100%;
    justify-content: center;
    display: flex;
    font-size: 64px;
}
.title img{
    display: block;
    width: 100px;
    height: 100px;
    padding-top: 40px;
}
span{
    display: flex;
    justify-content: center;
    font-size: 48px;
}
.readyText{
    display: flex;
    justify-content: center;
    font-size: 48px;
}
.main-container{
    display: flex;
    margin-right: 10%;
    margin-top: 100px;
}
.item{
    width: 350px;
    margin-left: 10%;
    font-size: 32px;
    text-align: center;
}
.item img{
    width: 200px;
    height: 200px;
}
.email-form{
    display: flex;
    align-items: center;
    min-width: 100%;
    flex-direction: column;
    margin-top: 100px;
}
.email-form h2{
    margin-bottom: 50px;
    font-size: 48px;
}
.email-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    height: 30px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
}
button{
    height: 30px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.verif{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.verif img{
    width: 40px;
    height: 40px;
    margin-left: 30px;
    padding-bottom: 30px;
}
@media (max-width: 1000px){
    body{
        background-size: cover;
    }
    .title{
        min-width: 100%;
        justify-content: center;
        display: flex;
        font-size: 24px;
        padding-top: 30px;
    }
    .title img{
        display: block;
        width: 50px;
        height: 50px;
        padding-top: 10px;
    }
    span{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        margin-top: 10px;
    }
    .main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10%;
        margin-top: 20px;
    }
    .item{
        width: 350px;
        margin-top: 10%;
        font-size: 22px;
        text-align: center;
    }
    .email-form h2{
        margin-bottom: 30px;
        font-size: 24px;
    }
    .verif{
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    .verif img{
        width: 40px;
        height: 40px;
        margin-left: 30px;
        padding-bottom: 30px;
    }
}